@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #181719;
    color: white;
}

.nav-bar {
    height: 76px;
    display: flex;
    justify-content: flex-end;
}

.main-button {
    min-width: 102px;
    min-height: 32px;
    margin-top: 42px;
    margin-left: 77px;
    font-family: 'Crimson Pro';
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    text-transform: uppercase;
    background-color: #181719;
    color: white;
    border: solid 1px white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 590px;
}

.main-button:hover {
    color: #181719;
    background-color: white;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    margin-top: 46px;
    margin-right: 40px;
    flex-shrink: 0;
    flex: 0;
}

.list-item {
    margin-right: 86px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.list-item:hover {
    border-bottom: solid 2px white;
}

#contact {
    margin-right: 0px;
}

.active {
    border-bottom: solid 3px white;
}

.main-section-container {
    display: flex;
    margin-left: 77px;
    margin-right: 76px;
    margin-top: 145px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 139px;
    width: 410px;
}

.title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    width: 365px;
    margin-top: 150px;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 48px;
}

.text-container a {
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.image-container {
    max-width: 730px;
    max-height: 555px;
    position: relative;
    flex-shrink: 0;
}

.image {
    width: 100%;
}

.author {
    position: absolute;
    width: 410px;
    height: 190px;
    background-color: #181719;
    bottom: -110px;
    right: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 31px;
    padding-top: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.author-profile {
    display: flex;
}

.picture-container {
    width: 50px;
    height: 50px;
    margin-right: 19px;
    margin-bottom: 25px;
}

.picture-container img {
    width: 100%;
    border-radius: 50%;
}

.author-name {
    margin-top: 5px;
}

.author-name p:nth-child(1) {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
}

.author-name p:nth-child(2) {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
}

.info {
    font-family: 'Lora';
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    width: 287px;
}

.footer {
    text-align: center;
    margin-bottom: 24px;
    color: #BDBDBD;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    margin-top: 200px;
}

.footer a {
    text-decoration: underline;
    font-weight: bold;
    color: #BDBDBD;
}

@media screen and (max-width: 700px) {
    .nav-bar ul {
        list-style: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #181719;
        z-index: 100;
        margin: 0;
        align-items: center;
        justify-content: center;
        color: white;
        transform: translateX(800%);
        transition: all 0.3s ease-in-out;
    }
    .active {
        border-bottom: 2px solid white;
    }
    .list-item {
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 32px;
    }
    .nav-bar {
        justify-content: space-between;
    }
    body {
        padding: 12px;
    }
    #wrapper{
        overflow-x: hidden;
        position: relative;
    }
    .main-button{
        margin: 0;
        min-width: 102px;
        max-height: 32px;
    }
    .ham {
        width: 38px;
        height: 38px;
        background-color: #181719;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
    }
    .ham span {
        background-color: white;
        width: 30px;
        height: 3px;
        margin-bottom: 8px;
        transition: all 0.3s ease-in-out;
    }
    .nav-bar ul.ham-active {
        transform: translate(0%);
    }
    .close span:nth-child(1){
        position: absolute;
        top: 15px;
        transform: rotate(45deg);
    }
    .close span:nth-child(2){
        background-color: #181719;
    }
    .close span:nth-child(3){
        position: absolute;
        top: 15px;
        transform: rotate(-45deg);
    }
    .main-section-container {
        flex-direction: column;
        margin: 0;
    }
    .erase-button {
        width: 0;
        height: 0;
        border: none;
        color: #181719;
    }
    .text-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .title {
        font-family: 'Lora';
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        margin-top: 0;
    }
    .text {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        width: fit-content
    }
    .text-container a {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 50px;
    }
    .image-container {
        min-width: 351px;
        min-height: 265px;
    }
    .author {
        min-width: 300px;
        min-height: 138px;
    }
    .picture-container {
        width: 36px;
        height: 36px;
    }
    .author-name p:nth-child(1) {
        font-size: 12px;
        line-height: 15px;
    }
    .author-name p:nth-child(2) {
        font-size: 10px;
        line-height: 12px;
    }
    .info {
        font-size: 18px;
        line-height: 23px;
        flex: 0;
        flex-shrink: 0;
    }
}

@media (min-width: 701px) and (max-width: 1200px) {
    .ham {
        width: 0px;
        height: 0px;
        transform: translateY(-1000%);
    }
    .nav-bar {
        justify-content: space-between;
    }
    .main-button{
        margin-right: 0;
    }
    .main-section-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .image-container{
        max-width: 500px;
    }
    .title {
        margin-top: 0;
    }
    .text-container {
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    .text-container a {
        margin-bottom: 100px;
    }
    .text-container a:hover {
        text-decoration: underline;
    }
    .text {
        width: fit-content;
    }
}